@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  background: #e2e2e248;
}

h1, h2, h3, label {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
}

h3 {
  font-weight: 400;
  font-size: 38px;
  color: #6d7993;
  border-top: 8px solid #9099a2;
}

h2 {
  font-weight: 500;
}

.header {
  background: #96858f; 
}

.header h1 {
  margin: 0;
  padding: 20px 0;
}

#top-h3 {
  margin-top: 0;
  padding-top: 10px;
}

.item {
  margin: 50px auto;
  width: 60%;
}

.item label {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.item input {
  width: 60%;
  min-height: 1rem;
  padding-left: 10px;
}

#pronoun-input, #age-input {
  width: 25%;
}

.pledge {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid black;
  margin-bottom: 20px;
}

.pledge h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.pledge button {
  width: 80%;
}

.template {
  display: none;
  text-align: left;
}

.info {
  display: none;
  text-align: left;
}

.template {
  margin: auto .8rem;
}

.link {
  margin: 8px auto;
}

.steps {
  margin-bottom: 0;
}

.steps + p {
  margin-top: 0;
}

@media (max-width: 667px) {
  .item, .pledge {
    width: 80%;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  .item label {
    font-size: 22px;
  }
}